
<p-toast key="t1"></p-toast>


<div class="card flex flex-column md:flex-row gap-5">

      <div class="mt-5 card flex justify-content-center">
    <p-floatLabel>
        <input pInputText id="username"  [(ngModel)]="userIdFilter" />
        <label for="username">Username</label>
    </p-floatLabel>
</div>
  <div class="mt-5 card flex justify-content-center">
    <p-floatLabel>
        <input pInputText id="username" [(ngModel)]="firstNameFilter"  />
        <label for="username">First Name</label>
    </p-floatLabel>
</div>

  <div class="mt-5 card flex justify-content-center">
    <p-floatLabel>
        <input pInputText id="username"  [(ngModel)]="emailFilter" />
        <label for="username">Email</label>
    </p-floatLabel>
</div>

   
    
  <div class="mt-5 card flex justify-content-center">
    <p-dropdown 
        optionLabel="name"
        [options]="userStatusOptions"
        [(ngModel)]="statusFilter"
        [showClear]="true"
        [editable]="true"
        [checkmark]="true" 
        optionValue="value"
        placeholder="User Status" />
        </div>
  <div class="mt-5 card flex justify-content-center">
        <p-dropdown 
        optionLabel="name"
        [options]="sortByOptions"
        [(ngModel)]="sortByFilter"
        [showClear]="true"
        [editable]="true"
        [checkmark]="true" 
        optionValue="value"
        placeholder="Sort" />
        </div>
          <div class="mt-5 card flex justify-content-center">

        <p-dropdown 
        optionLabel="name"
        [options]="sortByDirectionOption"
        [(ngModel)]="sortDirectionFilter"
        [showClear]="true"
        [editable]="true"
        [checkmark]="true" 
        optionValue="value"
        placeholder="Sort Direction" />
        </div>





</div>
<p-toolbar>
    <div class="p-toolbar-group-start">
        <p-button 
            label="Create" 
            icon="pi pi-plus"
            severity="contrast" 
            [outlined]="true"
            class="mr-2" 
            (click)="createUser()" 
        />
        <p-button 
            label="View" 
            icon="pi pi-eye"
            severity="contrast" 
            [outlined]="true"
            class="mr-2" 
            (click)="viewUser()" 
        />
        <p-button 
            label="Update" 
            icon="pi pi-pencil"
            severity="contrast" 
            [outlined]="true"
            class="mr-2" 
            (click)="updateUser()" 
        />
         <p-button 
            label="Delete" 
            icon="pi pi-trash"
            severity="contrast" 
            [outlined]="true"
            class="mr-2" 
            (click)="deleteUser()" 
        />
        <!-- <p-button
        label="Verify"
        icon="pi pi-check"
        severity="contrast",
        [outlined]="true"
        class="mr-2"
        /> -->

        

        
    </div>
    
    <div class="p-toolbar-group-end">

      <p-button 
            label="Apply Filter" 
            icon="pi pi-filter"
            severity="contrast" 
            [outlined]="true"
            class="mr-2" 
            (click)="applyFilter()" 
        />

          <p-button 
            label="Clear Filter" 
            icon="pi pi-filter-slash"
            severity="contrast" 
            [outlined]="true"
            class="mr-2" 
            (click)="clearFilter()" 
        />
       
        <p-button 
            label="Home" 
            icon="pi pi-home"
            severity="contrast" 
            [outlined]="true"
            class="mr-2"
            (click)="goHome()" 
        />
        <p-button
        label="Exit"
        icon="pi pi-sign-out"
        severity="contrast"
        [outlined]="true"
        class="mr-2"
        (click)="logout()"
    
/>
      
    </div>
</p-toolbar>


<p-table 
  [value]="users"
  [lazy]="true"
  (onLazyLoad)="loadUsers($event)"
  [paginator]="true"
  [rows]="8"
  [totalRecords]="totalRecords"
  [loading]="loading"
  selectionMode="single"
  [(selection)]="selectedUser"
  dataKey="userId"
>

  <ng-template pTemplate="header">
    <tr>
      <th>User ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>User Type</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-user>
 <tr 
      [pSelectableRow]="user"
      class="cursor-pointer"
    >
      <td>{{ user.userId }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>
        <span [ngClass]="getStatusColour(user.status)">
        {{userStatus[user.status] }}
        </span>
      </td>
      <td>
        <span [ngClass]="getUserTypeColor(user.userType)">
        {{ userTypeMap[user.userType] }}
        </span>
      </td>
    </tr>
  </ng-template>

</p-table>